/converge-server/modules/converge-core/target/
/converge-server/plugins/core-decoders/target/
/converge-server/modules/converge-ejb/target/
/converge-server/modules/converge-i18n/target/
/converge-server/modules/converge-mobile-server/target/
/converge-server/plugins/alertaction/target/
/converge-server/plugins/atomexport/target/
/converge-server/plugins/core-actions/target/
/converge-server/plugins/core-validators/target/
/converge-server/plugins/emailaction/target/
/converge-server/plugins/indexedition/target/
/converge-server/plugins/joomla/target/
/converge-server/plugins/textoutput/target/
/converge-server/modules/converge-war/target/
/converge-server/modules/converge-ws/target/
/converge-server/modules/converge-ear/target/
/converge-server/modules/converge-mobile-server/target
/converge-server/modules/converge-war/faces-config.NavData
/converge-server/target/
/converge-server/documentation/docstyles/target/
/converge-server/documentation/installation-guide/target/
/converge-server/documentation/administration-guide/target/
/converge-server/modules/converge-mobile-server/target/
/converge-server/modules/converge-ws-client/target/
/converge-server/converge-installer/target/
/converge-maven/create-newswire-decoder/target/
/converge-server/plugins/converge-plugin-newsml12/target/
/converge-server/modules/converge-war/nb-configuration.xml
/converge-server/modules/converge-ejb/nb-configuration.xml


/converge-server/modules/target/
/converge-server/plugins/target/
/converge-server/modules/converge-ws-rest/target/