* { margin: 0; padding: 0; }

body, input, textarea, a { font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; }

body#tinymce.mceContentBody { font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; font-size: 12px; }

body {
    margin: 0;
    padding: 0;
    color:#000000;
    font-size:12px;
    background:#FFFFFF;
}

textarea { font-size:12px; }

h1 { font-size: 18px; padding-bottom: 10px; }
h2 { font-size: 16px; padding-bottom: 10px; }

img { border: none; }

p { margin-top: 1em; margin-right: 0px; margin-bottom: 1em; margin-left: 0px; }

#logo {
    height:54px;
    width:185px;
    background-image: url("../images/converge.gif");
    position: absolute;
    z-index: 11;
    right: 0px;
    top: 0px;
}

#header {
    width:100%;
    position:absolute;
    height:61px;
    z-index: 10;
    background: url("../images/header_bg.gif") repeat-x top;
}

#header_shadow {
    width:100%;
    position:absolute;
    top: 47px;
    height:15px;
    z-index: 0;
    background: url('../images/shadow.gif') repeat-x top;
}

* html #header { height: 55px; }

#header #left { float: left; }
#header #right { float: right; margin-right: 185px; }

.wrapper { margin:0 auto; width: 90%; }

#header_spacer {
    height:54px;
}

a.subheader_link, a.subheader_link:visited, a.subheader_link:hover {
    text-decoration: none;
}

#subheader_wrapper {
    width:100%;
    padding-bottom:16px;
    background: #FFFFFF repeat-x;
}

#subheader_spacer {
    float: right;
    margin:0 auto;
    margin-right: 10px;
    height:23px;
    z-index: 1;
    position: absolute;
    right: 10px;
}

#navigation, #navigation ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

#navigation a {
    font-family: 'Lucida Grande',helvetica,verdana,sans-serif,arial;
    font-weight:normal;
    font-size: 13px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:3px;
    float:left;
    margin-top:12px;
    color:#000000;
    display: block;
    cursor: pointer;
    height:26px;
    line-height:22px;
    overflow: hidden; }

#navigation {
    height: 30px;
    z-index: 3;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    float: left;
    padding: 0;
    margin-right:7px;
    background: none;
    height: 55px;
    z-index: 3;}

#navigation li:hover span {
    background:transparent url('../images/selected_menu_left.jpg') no-repeat scroll 0 10pt;
    color:#FFFFFF;}

#navigation ul li:hover {
    background:transparent url(../images/selected_menu_right.jpg) no-repeat scroll right 10pt;
    color:#FFFFFF;}

#navigation li:hover span a {
    color:#FFFFFF;}

#navigation ul li.active a {
    background:transparent url(../images/selected_menu_left.jpg) no-repeat scroll left 1pt;
    color:#FFFFFF;
}

#navigation li.active span {
    background:transparent url(../images/selected_menu_right.jpg) no-repeat scroll right 10pt;
}

#navigation li span {
    display:block;
    float:left;
}

#searchbox {
    height:29px;
    margin-top:14px;
    padding-left:20px;
    width:236px;
    background: url(../images/search.jpg) repeat-x top;
}

#searchbox #quicksearch {
    color:#333333;
    background:transparent none repeat scroll 0 0;
    border: none;
    font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial;
    font-size:14px;
    margin-top:3px;
    padding-left:9px;
}

.subheader_tabs {
    padding-left:10px;
    color:#000000;
    cursor:pointer;
    font-size:11px;
    float:right;
}

.subheader_tabs .left {
    height:23px;
    width:11px;
    float:left;
    background: url(../images/tab_left.png) no-repeat top;
}
.subheader_tabs .middle {
    height:23px;
    float:left;
    line-height:20px;
    background: url(../images/tab_middle.png) repeat-x top;
}

.subheader_tabs .right {
    height:23px;
    width:11px;
    float:left;
    background: url(../images/tab_right.png) no-repeat top;
}

.subheader_tabs_selected {
    padding-left:10px;
    color: white;
    font-weight: bold;
    cursor:pointer;
    font-size:11px;
    float:right;
}

.subheader_tabs_selected .left {
    height:23px;
    width:11px;
    float:left;
    background: url(../images/tab_left_selected.png) no-repeat top;
}
.subheader_tabs_selected .middle {
    height:23px;
    float:left;
    line-height:20px;
    background: url(../images/tab_middle_selected.png) repeat-x top;
}

.subheader_tabs_selected .right {
    height:23px;
    width:11px;
    float:left;
    background: url(../images/tab_right_selected.png) no-repeat top;
}

.notification_tabs {
    padding-left:10px;
    color:#ffffff;
    font-weight: bold;
    text-shadow: #000000 0px 0px 2px;
    cursor:pointer;
    font-size:11px;
    float:right;
}

.notification_tabs .left {
    height:23px;
    width:11px;
    float:left;
    background: url(../images/tab_notification_left.png) no-repeat top;
}
.notification_tabs .middle {
    height:23px;
    float:left;
    line-height:20px;
    background: url(../images/tab_notification_middle.png) repeat-x top;
}

.notification_tabs .right {
    height:23px;
    width:11px;
    float:left;
    background: url(../images/tab_notification_right.png) no-repeat top;
}

.green_tab {
    padding-left:10px;
    color:#000000;
    font-weight: bold;
    text-shadow: #cccccc 0px 0px 2px;
    cursor:pointer;
    font-size:11px;
    float:right;
}

.green_tab .left {
    height: 23px;
    width: 11px;
    float: left;
    background: url('../images/tab_green_left.png') no-repeat top;
}
.green_tab .middle {
    height: 23px;
    float: left;
    line-height: 20px;
    background: url('../images/tab_green_middle.png') repeat-x top;
}

.green_tab .right {
    height: 23px;
    width: 11px;
    float: left;
    background: url('../images/tab_green_right.png') no-repeat top;
}

.red_tab {
    padding-left:10px;
    color:#ffffff;
    font-weight: bold;
    text-shadow: #000000 0px 0px 2px;
    cursor:pointer;
    font-size:11px;
    float:right;
}

.red_tab .left {
    height: 23px;
    width: 11px;
    float: left;
    background: url('../images/tab_red_left.png') no-repeat top;
}
.red_tab .middle {
    height: 23px;
    float: left;
    line-height: 20px;
    background: url('../images/tab_red_middle.png') repeat-x top;
}

.red_tab .right {
    height: 23px;
    width: 11px;
    float: left;
    background: url('../images/tab_red_right.png') no-repeat top;
}


ul, ol {
    margin-left: 1.5em;
    padding-left:0px;
}

li {
    margin-bottom:0.5em;
}



img#logoutButton {
    vertical-align: middle;
}


#applicationTitle {
    position: absolute;
    left: 0px;
    padding-top: 3px;
    padding-left: 10px;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
}

#applicationTitle table td,
#authorisation table td {
    vertical-align: middle;
}

#authorisation {
    position: absolute;
    float:right;
    right: 0px;
    padding-top: 3px;
    padding-right: 10px;
    font-size: small;
    font-weight: bold;
    color: #cccccc;
    z-index: 10;
}

#body {
    width: 100%;
    border-collapse: collapse;
}

.bodyTable {
    width: 99%;
    background-color: white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.bodyTable td.contents {
    padding: 10px;
}

.bodytopleft {
    background-image: url(../images/body_tl.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}

.bodytopmiddle {
    background-image: url(../images/body_tm.png);
    background-color: #ffffff;
    background-repeat: repeat-x;
    height: 14px;
}

.bodytopright {
    background-image: url(../images/body_tr.png);
    background-repeat: no-repeat;
    height: 14px;
    width: 16px;
}


.bodymiddleleft {
    background-image: url(../images/body_ml.png);
    background-repeat: repeat-y;
    width: 14px;
}

.bodymiddlemiddle {
    background: white;
}

.bodymiddleright {
    background-image: url(../images/body_mr.png);
    background-repeat: repeat-y;
    width: 16px;
}

.bodybottomleft {
    background-image: url(../images/body_bl.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 14px;
}

.bodybottommiddle {
    background-image: url(../images/body_bm.png);
    background-color: #ffffff;
    background-repeat: repeat-x;
    height: 37px;
}

.bodybottomright {
    background-image: url(../images/body_br.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 16px;
}

.link {
    cursor:pointer
}

.enabled {
    color: green;
}

.disabled {
    color: red;
}

.rowIndicator {
    background-color: #eceff4;
}

.rowIndicatorMedium {
    width: 120px;
}

.smallHeading {
    font-weight: bold;
}

.fatalMessage {
    font-weight: bold;
    color: red;
}

.errorMessage {
    font-weight: bold;
    color: red;
}

.warnMessage {
    font-weight: bold;
    color: red;
}

.infoMessage {
    font-weight: bold;
    color: green
}

.hint {
    font-size: 10px;
    color: rgb(119, 119,119);
}

.calendar_submitted_by {
    font-size: 10px;
    font-style: italic;
    color: #555555;
}

.tableHeader {
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
    color: black;
    font-weight: bold;
    border: 1px solid #aaaaaa;
    height: 19px;
    text-shadow: #aaaaaa 0px 1px 0px;
}

tr.odd, tr.even {
    background-color: white;
    border: 1px solid #aaaaaa;
}

tr.odd:hover {
    color: black;
    background-color: #eceff4;
}

tr.even:hover {
    background-color: #eceff4;
    color: black;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.sectionColumn {
    background-color: #eceff4;
}


.subNewsItem {
    background: #ffffff;
}

.right { text-align : right; }
.center { text-align : center; }

.borderless {
    border: 0px;
}

.applicationTable {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px groove #eceff4;
}

.applicationTable td.title {
    padding: 0px;
    padding-top: 2px;
    font-style: italic;
    text-align: left;
}

.applicationTable td.version {
    padding: 0px;
    padding-top: 2px;
    font-style: italic;
    text-align: right;
}

.articleInputField {
    width: 840px;
}

div.frame {
    padding-right: 8px;
    padding-bottom: 8px;
}

div.frame div.bottomLeft {
    background: url(../images/photo/frame_bottom_left.gif) no-repeat left bottom;
}

div.frame div.bottomRight {
    background: url(../images/photo/frame_bottom_right.gif) no-repeat right bottom;
}

div.frame div.topLeft {
    background: url(../images/photo/frame_top_left.gif) no-repeat left top;
}

div.frame div.topRight {
    padding-right: 29px;
    padding-left: 29px;
    background: url(../images/photo/frame_top_right.gif) no-repeat right top;
    padding-bottom: 8px;
    padding-top: 8px;
}

.title2 {
    font-weight: bold;
    font-size: 150%;
}

.popup {
    background: white;
    border: 1px solid black;
    max-width: 350px;
}

.popup .heading {
    background: black;
    color: white;
    font-weight: bold;
}

.popup .text {
}

.dialogueControls {
    text-align: right;
    margin-right: 10px;
}

.dialogue {
    padding: 10px;
}

#navTabs {
    float:left;
    position: absolute;
    font-size:93%;
}

#navTabs table {
    margin-left: 15px;
    margin-top: 3px;
    border-collapse: collapse;
    width: auto;
}

#navTabs .tableft {
    background: url("../images/template/buttons/left.gif") no-repeat right top;
    height: 31px;
    width: 11px;
    margin:0;
    padding: 0;
    text-decoration:none;
    vertical-align: middle;
}

#navTabs .tabmiddle {
    background: url("../images/template/buttons/middle.gif") repeat-x right top;
    height: 31px;
    margin:0;

    text-decoration:none;
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#navTabs .tabright {
    background: url("../images/template/buttons/right.gif") no-repeat;
    height: 31px;
    width: 11px;
    margin:0;
    padding: 0;
    text-decoration:none;
    vertical-align: middle;
}

#navTabs .tableftSelected {
    background: url("../images/template/buttons/selected_left.gif") no-repeat right top;
    height: 31px;
    width: 11px;
    margin:0;
    padding: 0;
    text-decoration:none;
    vertical-align: middle;
}

#navTabs .tabmiddleSelected {
    background: url("../images/template/buttons/selected_middle.gif") repeat-x right top;
    height: 31px;
    margin:0;
    padding: 0;
    text-decoration:none;
    vertical-align: middle;
    text-align: center;
}

#navTabs .tabrightSelected{
    background: url("../images/template/buttons/selected_right.gif") no-repeat;
    height: 31px;
    width: 11px;
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    vertical-align: middle;
}

#navTabs .tabmiddleSelected a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

#navTabs .tabmiddle a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#navTabs .tabLeftSpacing {
    padding-left: 10px;
}

.tabMiddleSelected {
    background: url("../images/template/buttons/selected_middle.gif") repeat-x right top;
    height: 31px;
    margin:0;
    padding: 0;
    font-weight: bold;
    text-decoration:none;
    vertical-align: middle;
    text-align: center;
    width: 100px;
}

.tabMiddle {
    background: url("../images/template/buttons/selected_middle.gif") repeat-x right top;
    margin:0;
    height: 23px;
    color: #333333;
    text-decoration:none;
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tabContent {
    background-color: rgb(236, 236, 236);
}

.assignmentOverdue {
    font-weight: bold;
    color: red;
}

.assignmentComplete {
    text-decoration: line-through;
}

.assignmentIncomplete {
    text-decoration: none;
}

.nowrap { white-space: nowrap; }
.dialogueFieldLabel { text-align: right; vertical-align: top; margin: 5px; padding: 2px; }
.dialogueFieldValue { text-align: left; vertical-align: top; margin: 5px; padding: 2px; }
.dialogueButtons { margin: 0px; }

/******************************************************************************/
/** PHOTO STYLES  *************************************************************/
/******************************************************************************/

div.photoSeriesFrame {
    padding-right: 8px;
    float: left;
    padding-bottom: 8px;
}

div.photoSeriesFrame div.bottomLeft {
    background: url(../images/photo/frame_bottom_left.gif) no-repeat left bottom;
    width: 228px
}

div.photoSeriesFrame div.bottomRight {
    background: url(../images/photo/frame_bottom_right.gif) no-repeat right bottom;
}

div.photoSeriesFrame div.topLeft {
    background: url(../images/photo/frame_top_left.gif) no-repeat left top;
}

div.photoSeriesFrame div.topRight {
    padding-right: 29px;
    padding-left: 29px;
    background: url(../images/photo/frame_top_right.gif) no-repeat right top;
    padding-bottom: 8px;
    padding-top: 8px;
    height: 248px
}

div.photoSeriesFrame div.divider {
    background-image: url(../images/photo/dotted_line.gif);
    overflow: hidden;
    width: auto;
    background-repeat: repeat-x;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 3px;
}

div.photoSeriesFrame div.date {
    color: silver;
    font-size: 90%;
}

div.photoSeriesFrame div.title {
    height: 28px;
    font-size: 90%
}

div.photoSeriesFrame div.content {
    margin: 9px 0px;
    overflow: hidden;
    width: 170px;
    height: 170px;
}

div.photoSeriesFrame div.content table.innerContent {
    width: 100%;
    height: 100%;
}

div.photoSeriesFrame div.imageCount {
    font-weight: bold;
    text-align: center;
}


.photoDetailField {
    width: 150px;
}

.photoDetailValue {
}

/******************************************************************************/
/** TABLE COLUMNS *************************************************************/
/******************************************************************************/

.columnStatus { width: 150px; }
.subColumnIcon { width: 18px; }
.columnIconHeader {width: 18px; }
.columnIcon { background-color: #eceff4; width: 18px; }
.columnThumbnail { width: 160px; text-align: center; }
.columnId { width: 60px; }
.columnBoolean { width: 60px; }
.columnCount { width: 60px; }
.columnSmallNumber { width: 60px; }
.columnMediumNumber { width: 120px; }
.columnTiny { width: 20px; }
.columnDay { background-color: #eceff4; width: 25px; text-align: center; }
.columnTime { width: 50px; }
.columnDateTime { width: 135px; }
.columnOneButton { width: 60px; }
.columnField { width: 300px; }
.columnSeverity { width: 70px; }
.columnUser { width: 135px;}

.left {
    text-align: left;
}

.tabSheetGrid { padding: 10px; width: 100% }
.tabSheet { text-align: left; padding-top: 5px; }

.applicationNewsTitle {
    font-weight: bold;
}

.applicationNewsDate {
    font-style: italic;
}

/******************************************************************************/
/** INPUT CONTROLS ************************************************************/
/******************************************************************************/

form {
    margin: 0px;
    padding: 0px;
}

.dialogButton,
.textButton, 
.rowTextButton,
.disabledTextButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    border: 1px solid #aaaaaa;
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
    color: black;
    zoom: 1! important;
    cursor: 'pointer';
    cursor: 'hand';
}

.disabledTextButton {
    border: 1px solid #dddddd;
    color: silver;
    font-style: italic;
}

.button {
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
    color: black;
    border: 1px solid #aaaaaa;
    height: 20px;
    cursor: 'pointer';
    cursor: 'hand';
}

.rowTextButton {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dynamicButton {
    padding-left: 15px;
    padding-right: 15px;
}


.disabledButton {
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
    border: 1px outset #dddddd;
    height: 20px;
    cursor: 'pointer';
    cursor: 'hand';
    font-style: italic;
    color: silver;
}


.button:hover {
    border: 1px solid black;
}

.smallButton {
    width: 65px;
}

.mediumButton {
    width: 120px;
}

.dialogButton {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

.disabledDialogButton {
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
    border: 1px outset #dddddd;
    cursor: 'pointer';
    cursor: 'hand';
    font-style: italic;
    color: silver;
}

.rich-spinner-input-container,
.text {
    background: #ffffff;
    border: 1px solid #aaaaaa;
    color: #49443a;
    font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial;
    padding: 2px;
}

.mediumInput,
.mediumTextArea{
    width: 450px;
}

.smallInput {
    width: 50px;
}

.sideInput {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%
}


.mediumTextArea {
    height: 150px;
}

.smallTextArea {
    height: 75px;
    width: 450px;
}

.btnC {
    width: 1px;
}

.disabledInput {
    background: rgb(119, 119, 119);
    color: white;
}

.optionBox,
.optionBoxDialogue {
    background-color: rgb(236, 236, 236);
    margin-top: 0px;
    padding: 10px;
    border: 1px solid silver;
    width: 100%;
}

.optionBoxDialogue {
    border-top: 0px;
}

.optionBoxDialogue td {
    text-align: right;
}

.tooltip {
    border: 1px solid #aaaaaa;
    -moz-box-shadow: 0 0 4px 4px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 4px 4px #888;
    background-color: #dedede;
}

.propertyValue {
    border: 1px solid #aaaaaa;
    color: #49443a;
    font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial;
    width: 100%;
    height: 18px;
}


/******************************************************************************/
/** LAYOUTS *******************************************************************/
/******************************************************************************/

#layout1 #leftColumn {
    position: absolute;
    left:10px;
    top:94px;
    width:200px;
    background:#ffffff;
}

#layout1 #leftColumn .body_heading .middle {
    width: 150px;
}

#layout1 #middleColumn {
    position: absolute;
    top: 94px;
    background:#fff;
    margin-left: 220px;
    margin-right:220px;
}

#layout1 #middleColumn .body_heading {
    width: 100%;
}

#layout1 #middleColumn .body_heading .middle {
}

#layout1 #rightColumn {
    position: absolute;
    right:10px;
    top:94px;
    width:200px;
    background:#fff;
}

#layout1 #rightColumn .body_heading .middle {
    width: 150px;
}

#layout2 {
    margin-top: 35px;
}

#layout2 #leftColumn {
    margin: 0;
    padding: 0;
    float: left;
    top: 94px;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    background:#ffffff;
}

#layout2 #leftColumn .body_heading {
    width: 100%;
}

#layout2 #leftColumn .body_heading .middle {
}

#layout2 #rightColumn {
    float: right;
    top:94px;
    width: 79%;
    background:#fff;
    margin-right: 1%;
}

#layout2 #rightColumn .body_heading {
    width: 100%;
}


#layout4 {
    margin-top: 35px;
}

#layout4 #leftColumn {
    margin: 0;
    padding: 0;
    float: left;
    top: 94px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    background:#ffffff;
}

#layout4 #leftColumn .body_heading {
    width: 100%;
}

#layout4 #leftColumn .body_heading .middle {
}

.small { font-size: 0.9em; }

/******************************************************************************/
/** MODULES *******************************************************************/
/******************************************************************************/

.body_heading {
    padding-left:10px;
    color:#000000;
    cursor:pointer;
    font-size:11px;
    border-collapse: collapse;
}

.body_heading .left {
    height:32px;
    width:29px;
    background: url(../images/module/header_stripe_left.gif) no-repeat top;
}

.body_heading .left_closed {
    height:32px;
    width:29px;
    background: url(../images/module/header_stripe_collapsed_left.gif) no-repeat top;
}

.body_heading .middle {
    height:32px;
    line-height:30px;
    background: url(../images/module/header_stripe_middle.gif) repeat-x top;
    text-shadow: 0px 1px #cccccc; 
}

.body_heading .right {
    height:32px;
    width:11px;
    background: url(../images/module/header_stripe_right.gif) no-repeat top;
}

.moduleContent {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}


/******************************************************************************/
/** EVENTS / DIARY ************************************************************/
/******************************************************************************/

.eventAssigned {
    font-weight: bold;
    color: green;
}

.eventNotAssigned {
    font-weight: bold;
    color: red;
}

.upcomingEventsSummary {
    font-size: 1.1em;
}

.upcomingEventsLocation {
    font-size: 0.9em;
    color: #aaaaaa;
}

.upcomingEventsMonth, .upcomingUnassignedEventsMonth {
    background-attachment: scroll;
    background-color: #ececec;
    background-repeat: no-repeat;
    border: 1px solid #ececec;
    color: black;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: white;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
    padding-top: 0px;
    text-transform: uppercase;
    vertical-align: baseline;
    width: 40px;
}

.upcomingUnassignedEventsMonth {
    background-color: #ff0000;
    color: white;
}

.upcomingEventsDay {
    border: 1px solid #ececec;
    border-top-width: 0px;
    color: black;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    height: 21px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: black;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    vertical-align: baseline;
    width: 38px;
}

/******************************************************************************/
/** PROFILE *******************************************************************/
/******************************************************************************/

.profileFirstName { font-weight: bold; font-size: 1.2em; }
.profileLastName { }
.profileTitle { font-style: italic; font-size: 0.9em; }
.profilePhoto { border: 1px solid black; }
.userDetailsPhoto { border: 1px solid black; margin-left: 5px; height: 48px; width: 48px; }
.userDetailsInfoColumn { vertical-align:  top; }
.userDetailsPhotoColumn { vertical-align:  top; }

/******************************************************************************/
/** RichFaces Specific Styles *************************************************/
/******************************************************************************/
.rich-fileupload-button,
.rich-fileupload-button-disabled,
.rich-fileupload-button-press,
.rich-fileupload-button-light,
.rich-list-picklist-button-disabled,
.rich-list-picklist-button,
.rich-list-picklist-button-light,
.rich-list-picklist-button-press  {
    text-decoration: none;
    border: 1px solid #aaaaaa;
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
    color: black;
    zoom: 1! important;
    cursor: 'pointer';
    cursor: 'hand';
    padding: 4px;
}

.rich-picklist-control-disabled,
.rich-picklist-control-top, 
.rich-picklist-control-bottom, 
.rich-picklist-control-up, 
.rich-picklist-control-down, 
.rich-picklist-control-copyall, 
.rich-picklist-control-copy, 
.rich-picklist-control-remove, 
.rich-picklist-control-removeall {
    border: 0px;
}

.rich-tab-disabled {
    background: silver;
    color: #777777;
}


.rich-mpnl-body { 
    background-color: rgb(236, 236, 236); 
}

.rich-mpnl-header {
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
    color: black;
    border: 0px;
    border-bottom: 1px silver solid;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px;
}

.rich-mpnl-controls {
    height: 30px;
    vertical-align: middle;
}

.rich-fileupload-toolbar-decor { background-color: rgb(236, 236, 236); }

.rich-tabpanel {}
.rich-tabpanel-content {
    background: #F3F2F2;
    border-width: 1px 1px 1px 1px;
}

.rich-menu-list-border { border: 1px solid #cccccc; }
.rich-menu-item-hover { background-color: #cccccc; border: 1px solid #aaaaaa;}
.rich-menu-list-bg { background: #eeeeee; border: 0px; }

.rich-spinner-buttons,
.rich-calendar-spinner-buttons,
.rich-calendar-time-btn,
.rich-calendar-time-btn-press {
    background-image: url(../images/template/tables/header_background.gif);
    background-color: #ffffff;
    background-repeat: repeat-x;
}

.rich-calendar-editor-btn-over, .rich-calendar-editor-btn-selected { background-color: #777777; color: #ffffff; }
/* Current day does not have to be highlighted .rich-calendar-today {background:yellow; color: #000000;} */
.rich-calendar-holly {background:#F5F5F5; color: #888888}
.rich-calendar-select, .rich-calendar-hover { border: 1px solid #000000; background-color: #777777; color: #ffffff; }
.rich-calendar-hover {border: 0px;}
.rich-calendar-tool, .rich-calendar-month {background:  #000000; color: #ffffff; }
.rich-calendar-days, .rich-calendar-toolfooter, .rich-calendar-time-layout, .rich-calendar-date-layout-ok, .rich-calendar-date-layout-cancel {background:#D4D3CD; color: #49443A;}
.rich-calendar-today {background:white; color: #000000; font-weight: normal;}

.rich-tree-node-highlighted { color: blue; }
.rich-tree-node-selected { border: 0px; }

.rich-datascr-button { background-color: #dddddd; }
.rich-datascr-inact { border-top-color: #888888; color: #888888; }
.rich-datascr-act { background-color: yellow; }

.tabInactive { background: none; background-color: #dedede; }
.tabInactive:hover { background-color: #aaaaaa; color: #ffffff; }
.tabActive { font-weight: bold; background: #F3F2F2;; line-height: 20px; height: 20px; border-bottom: 1px solid #f3f2f2; }
.tabDisabled { background: none; background-color: #dedede; font-style: italic; color: #666666; }

/******************************************************************************/
/** Ajax Loading Styles *******************************************************/
/******************************************************************************/
.pleaseWaitBackground {
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    height: 50px;
    width: 300px;
}

.pleaseWaitMessage {
    font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial;
    font-size: 14px;
    margin-bottom: 20px;
}



/* ie6 trash */
* html #gritter-notice-wrapper {
    position:absolute;
}
* html .gritter-top {
    margin-bottom:-10px;
}
* html .gritter-item {
    padding-bottom:0;
}
* html .gritter-bottom {
    margin-bottom:0;
}
* html .gritter-close {
    background:url(../images/gritter-close-ie6.gif);
    width:22px;
    height:22px;
    top:7px;
    left:7px;
}

/* the norm */
#gritter-notice-wrapper {
    position:fixed;
    top:20px;
    right:20px;
    width:301px;
    z-index:9999;
}
.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
    background:url('.'); /* ie7/8 fix */
}
.gritter-top {
    background:url(../images/gritter-info.png) no-repeat left -30px;
    height:10px;
}
.hover .gritter-top {
    background-position:right -30px;
}
.gritter-bottom {
    background:url(../images/gritter-info.png) no-repeat left bottom;
    height:8px;
    margin:0;
}
.hover .gritter-bottom {
    background-position: bottom right;
}
.gritter-item {
    display:block;
    background:url(../images/gritter-info.png) no-repeat left -40px;
    color:#eee;
    padding:2px 11px 8px 11px;
    font-size: 11px;
    font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial;
}
.hover .gritter-item {
    background-position:right -40px;
}
.gritter-item p {
    padding:0;
    margin:0;
}
.gritter-close {
    position:absolute;
    top:5px;
    left:3px;
    background:url(../images/gritter-info.png) no-repeat left top;
    cursor:pointer;
    width:30px;
    height:30px;
}
.gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow:1px 1px #000; /* Not supported by IE :( */
}
.gritter-image {
    width:48px;
    height:48px;
    float:left;
}
.gritter-with-image,
.gritter-without-image {
    padding:0 0 5px 0;
}
.gritter-with-image {
    width:220px;
    float:right;
}


.msg_fatal .gritter-top,
.msg_warn .gritter-top,
.msg_error .gritter-top {
    background:url(../images/gritter-error.png) no-repeat left -30px;
    height:10px;
}

.msg_fatal .gritter-bottom,
.msg_warn .gritter-bottom,
.msg_error .gritter-bottom {
    background:url(../images/gritter-error.png) no-repeat left bottom;
    height:8px;
    margin:0;
}


.msg_fatal .gritter-item,
.msg_warn .gritter-item,
.msg_error .gritter-item {
    display:block;
    background:url(../images/gritter-error.png) no-repeat left -40px;
    color:#eee;
    padding:2px 11px 8px 11px;
    font-size: 11px;
    font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial;
}

.msg_fatal .gritter-close,
.msg_warn .gritter-close,
.msg_error .gritter-close {
    position:absolute;
    top:5px;
    left:3px;
    background:url(../images/gritter-error.png) no-repeat left top;
    cursor:pointer;
    width:30px;
    height:30px;
}


.msg_warn .gritter-top {
    background:url(../images/gritter-warn.png) no-repeat left -30px;
    height:10px;
}

.msg_warn .gritter-bottom {
    background:url(../images/gritter-warn.png) no-repeat left bottom;
    height:8px;
    margin:0;
}

.msg_warn .gritter-item {
    display:block;
    background:url(../images/gritter-warn.png) no-repeat left -40px;
    color:#333333;
    padding:2px 11px 8px 11px;
    font-size: 11px;
    font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial;
}


.msg_warn .gritter-close {
    position:absolute;
    top:5px;
    left:3px;
    background:url(../images/gritter-warn.png) no-repeat left top;
    cursor:pointer;
    width:30px;
    height:30px;
}

.msg_warn .gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow: 0px;
}


.currentAssignmentsDeadline {
    font-size: 9px;
}

.conceptTypeSubtitle {
    font-size: 9px;
}

.concept_SUB {
    background: #CC3300;
    color: white;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    padding: 2px;
    border: 1px solid black;
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.concept_PER {
    background: #0000FF;
    color: white;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    padding: 2px;
    border: 1px solid black;
    width: 30px;
    text-align: center;
    margin-right: 5px;
}
.concept_ORG {
    background: #FFCC66;
    color: #000000;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    padding: 2px;
    border: 1px solid black;
    width: 30px;
    text-align: center;
    margin-right: 5px;

}
.concept_LOC {
    background: #99FF00;
    color: #000000;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    padding: 2px;
    border: 1px solid black;
    width: 30px;
    text-align: center;
    margin-right: 5px;
}
.concept_POI {
    background: #6600CC;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    padding: 2px;
    border: 1px solid black;
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.planning_event_details {
    font-size: 9px;
}


.propertySheet {
    width: 100%;
}

.propertySheet td {
    margin-bottom: 5px;
}

.top { vertical-align: top;}
.bold { font-weight: bold; }

.geoLeft {
    vertical-align: top;
    text-align: left;
    width: 310px;
    padding-left: 5px;
}


.no-table-header .rich-table-thead {
    display: none;
}

.wordcount_limit {
    background-color: red !important;
}


/* black version of the overlay. simply uses a different background image */
div.apple_overlay.black {
    background-image:url(http://static.flowplayer.org/tools/img/overlay/transparent.png);
    color:#fff;
}

div.apple_overlay h2 {
    margin:10px 0 -9px 0;
    font-weight:bold;
    font-size:14px;
}

div.black h2 {
    color:#fff;
}

#triggers {
    margin-top:10px;
    text-align:center;
}

#triggers img {
    background-color:#fff;
    padding:2px;
    border:1px solid #ccc;
    margin:2px 5px;
    cursor:pointer;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


.searchHighlight { background: yellow; font-weight:bold; }
.results { vertical-align: top; width: 70%; padding-right: 10px; }
.facets { vertical-align: top; border: 1px solid #cccccc; background-color: #f1f1f1; width: 30%; padding: 10px; }
.searchInput { width: 100%; font-size: 1.9em; padding: 0px; height: 30px; }
.searchButton { height: 32px; margin-left: -2px; font-weight: bold; font-size: 1.2em; }
.searchAdvanced { font-size: 0.9em; margin-left: 2px; }
.searchSummary { font-size: 0.9em; color: #333333; margin-left: 10px; }
.searchPages {border-top: 1px solid #cccccc; width: 100%; padding: 4px;}
.searchPageSelected { margin-right: 5px; font-weight: bold; font-size: 1.6em; }
.searchPage { margin-right: 5px; }
.searchResultThumb { border: 1px solid #aaaaaa; margin-right: 5px; float: left; }
.searchResultDescription {font-size: 0.9em; color: #0E774A}
.searchResultDate {font-size: 0.9em; color: #4272DB}

.scrollableContent { width:100%; height: 350px; overflow:auto; position: relative; display: block; }

.dashboardAnnouncementColumn,
.dashboardAnnouncementTable { border: 0px}
.dashboardAnnouncementTitleTable { width: 100%; border-bottom: 1px solid #cdcdcd; margin-bottom: 5px; }
.dashboardAnnouncementTitle { font-weight: bold; text-transform: uppercase; font-size: 1.2em; }
.dashboardAnnouncementDate { font-weight: bold; color: red; text-transform: uppercase; margin-left: 5px; }
.dashboardAnnouncementThumb { float: left; margin-right: 10px; margin-bottom: 5px; }
.dashboardAnnouncementDescription { font-size: 1.1em; }

.textDifference { width: 98%; height: 200px; overflow:auto; position: relative; display: block; border: 1px solid #cccccc; background-color: white; padding: 8px; font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; font-size: 1em; }
.textDifferenceEqual {}
.textDifferenceInserted { background: #E6FFE6; text-decoration: underline;  }
.textDifferenceDeleted { background: #FFE6E6; text-decoration: line-through; }


.calendarUrl {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.pluginPropertiesList { width: 98%; height: 300px; overflow:auto; position: relative; display: block; border: 0px; padding: 8px; font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; font-size: 1em; background-color: transparent; }
.scrollableDialogContent { width: 98%; height: 300px; overflow:auto; position: relative; display: block; border: 0px; padding: 8px; font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; font-size: 1em; background-color: transparent; }
.actionList, .logEntryList { width: 98%; height: 300px; overflow:auto; position: relative; display: block; border: 0px; padding: 8px; font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; font-size: 1em; background-color: transparent; }

.endState, .endState a { background: green; color: white; }
.intermediateState, .intermediateState a { background: yellow; color: black; }
.trashState, .trashState a { background: red; color: white; text-decoration: line-through; }

.placementPositionInplace { background-color: transparent; background: transparent;}
.placementPositionInplaceHover { background-color: transparent; background: transparent; text-decoration: underline; color: black; }

.newsReaderTitle { font-family: Palatino, Georgia, Times, 'Times New Roman', serif; line-height: 25px; text-decoration: underline; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; margin-top: 5px; margin-bottom: 5px;}
.newsReaderTable { border: 0px;}
.newsReaderTable td { border: 0px; }
.newsReaderBrief, .newsReaderStory {font-family: Palatino, Georgia, Times, 'Times New Roman', serif; line-height: 25px; font-size: 21px; margin-top: 10px;}
.newsReaderLabel { background: black; color: white; font-size: 11px; text-transform: uppercase; padding: 4px; font-weight: bold; }

.contentTag { background: #00AA00; color:white; font-size: 0.9em; padding: 2px; text-transform: uppercase; }
.contentTags { margin-top: 0px; margin-bottom: 2px; line-height: 1.6em; }

.lockTooltip {
    color: #000000;
    background: #ededed;
    border: 2px solid #aaaaaa;
    width: 300px; 
    background: #ffcc66; 
    border: 1px solid #cc9933;
    padding: 2px;
    -moz-box-shadow: 0 0 4px #333333;
    -webkit-box-shadow: 0 0 4px #333333;
    box-shadow: 0 0 4px #333333;
}

.renditionActionColumn { width: 90px; }
.noborder {border: 0px;}
.mediaItemPreview { text-align: center; }
.mediaItemRenditionAvailable { padding: 2px; padding-left: 5px; padding-right: 5px; background-color: #00AA00; color: white; font-weight: bold; border: 1px solid black; text-transform: uppercase; }
.mediaItemRenditionNotAvailable { padding: 2px;  padding-left: 5px; padding-right: 5px; background-color: #ff0000; color: white; font-weight: bold; border: 1px solid black; text-transform: uppercase; }
.mediaItemProperty { width: 98%; margin-left: 1%; margin-right: 1%; }
.disabledCriteria { color: #cccccc;}

.colMediaAttachment { width: 250px; vertical-align: top; }
.colMediaAttachmentCaptionLabel { vertical-align: top;  font-size: smaller; padding: 4px; margin:4px; font-weight: bold; background: #dddddd; text-transform: uppercase}

.myActivityTitle { font-weight: bold; font-size: 1.2em; }
.myActivityTable { border-top: 1px solid silver; margin-top: 2px; margin-bottom: 10px; margin-right: 10px; }
.myActivityTableHeader { text-transform: uppercase; font-size: 0.9em; }
.myActivityMonthLabel { padding-right: 5px; }

.newsItemAttachmentCaptionInplace { white-space: normal; background-color: transparent; background: transparent; }
.newsItemAttachmentCaptionInplaceHover { white-space: normal; background-color: transparent; background: transparent; text-decoration: underline; color: black; }
.newsItemAttachmentLabel { font-weight: bold; text-transform: uppercase; font-size: 0.9em; vertical-align: top; width: 25% }
.newsItemAttachmentInput { vertical-align: top; width: 75% }
.newsItemAttachmentInfo { background: #dedede; border: 1px solid #aaaaaa; width: 100%; }

.newsItemWorkflowOptions { margin-left: 2%; margin-right: 2%; width: 98% }
.newsItemWorkflowOptionsIntro { font-size: 9px; }
.newsItemWorkflowOptionsAvailable { margin-top: 5px; }

.dlgBody { width: 450px; }

.validOutlet { color: green; font-weight: bold; }
.invalidOutlet { color: red; font-weight: bold; }

.activityStream { border: 0px; border-spacing: 0px; width: 100% }
.activityStreamSender, .activityStreamMessage { border: 0px; border-bottom: 1px solid #cccccc; }
.activityStreamSenderName { color: #7D7D7D; font-weight: bold; }
.activityStreamMessageText {}
.activityStreamTime { color: #7D7D7D; text-transform: uppercase; font-size: 0.8em; }
.activityStreamSeparator { color: #7D7D7D; padding-left: 5px;padding-right: 5px; }
.activityStreamLink { color: #0000FF; text-transform: uppercase; font-size: 0.8em; }
.activityStreamBottomLink { padding-right: 10px; }

.pluginInstanceAbout { background: white; border: 1px solid silver; height: 70px; padding: 3px; width: 98%; overflow:auto; position: relative; display: block; padding: 8px; font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; font-size: 1em; }
.propertyInplace { white-space: normal; }

/* TextMetrics Plug-in for TinyMCE */
div.metrics {float:right !important;}
div.metrics > span {margin-left:0.5em !important;}

.logEntrySeveritySEVERE { background: #f7e7e7; color: black; }
.logEntrySeverityWARNING { background: #f9f6e7; color: black; }
.logEntrySeverityINFO { background: #e7eedb }
.logEntrySeverityFINE { background: #efefef; color: #333333; }
.logEntrySeverityFINER { background: #f1f1f1; color: #666666; }
.logEntrySeverityFINEST {background: #efefef; color: #999999; }

.classificationTooltip { width: 350px; }
.renditionTooltip { width: 350px; }
.mediaItemHeld { background-color: #ff0000; color: white; font-size: 2em; font-weight: bold; }

.subscribers { width: 98%; height: 300px; overflow:auto; position: relative; display: block; border: 0px; padding: 8px; font-family:'Lucida Grande', helvetica, verdana, sans-serif, arial; font-size: 1em; background-color: transparent; }
.unsubscribed { color: red; }

.uploadedMediaItem { border: 1px solid #aaaaaa; margin-left: 1%; margin-right: 1%; }
.uploadedMediaItemByLine { width: 98%; margin-left: 1%; margin-right: 1% }

/* Wiki Page Styles */
#frmWikiPage .rich-mpnl-body { 
    background: white; 
    font-size: 1.2em; 
}

.wikiContent { 
    width: 98%; 
    height: 500px; 
    overflow:auto; 
    position: relative; 
    display: block; 
    border: 0px; 
    padding: 8px; 
    font-family: Palatino, Georgia, Times, 'Times New Roman', serif; 
    font-size: 1.1em; 
    background-color: transparent; 
}
.wikiLastUpdated { 
    font-style: italic; 
    font-size: 0.7em;
    color: #A00;
}

.wikiTitle { 
    font-size: 1.3em; 
}

.wikiTitleEdit {
    width: 700px; 
    margin-right: 7px;
}

.wikiEditDialogButtons {
    margin-right: 9px;
}


#globalMessage {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:bold;
    font-size:150%;
    color:white;
    padding:10px 0px 10px 0px;
    background-color:#8E1609;
}

#globalMessage span {
    text-align: center;
    width: 95%;
    float:left;
}

.close-notify {
    white-space: nowrap;
    float:right;
    margin-right:10px;
    color:#fff;
    text-decoration:none;
    border:2px #fff solid;
    padding-left:3px;
    padding-right:3px
}

.close-notify a {
    color: #fff;
}

.inbox_media_item_id {
    float: left;
    background: #EFEFEF;
    padding: 6px;
    color: black;
    border: 1px solid silver;
    display: inline;
    margin-right: 10px;
}

.inbox_media_item_title {
    margin-top: 2px;
    float: left;
    font-weight: bold;
}

.inbox_media_item_submitter {
    float: left;
    font-style: italic;
    font-size: 0.9em;
    color: #666666;
}

.inbox_media_item_description {
    margin-top: 5px;
    margin-bottom: 5px;
}
